body {
  background-color: #271234;
  /* background-image: url("../../img/bgimg.png");
  background-size: cover;
  background-repeat: no-repeat; */
}

.fs-mobile-anchor {
  font-size: 20px;
}

.custom-pl-search {
  padding-left: 50px;
}


