* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* margins */

.mt-6 {
  margin-top: 6rem;
}

/* typography */

.roboto-w-900 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.roboto-w-700 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.roboto-w-500 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.roboto-w-400 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}


/* buttons */

.btn-outline-purple {
  border-color: #7149C6;
} 

.btn-outline-purple:hover{
  background-color: #7149C6;
}

.btn-text-purple {
  color: #7149C6 ;
}

.btn-text-purple:hover {
  color: white;
}




/* search-magnifying-glass */

.search-icon {
  position: absolute;
  top: -3px;
  left: 0;
  height: 45px;
  width: 45px;
  background: #fff;
  border: 3px solid #000;
  border-radius: 100%;
}

.custom-pl-search {
  padding-left: 50px;
}